<!DOCTYPE html>
<html>
	<head>		

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">		
		
		<style type="text/css">
			
			.mulberry{

				background-color: #4a100c;

			}
			.btn{
				color: white !important;
			}
			.error{
				color: red;
				/*font-weight: bold;*/
			}
			.test{
				background-color: #99cfff;
			}
			.color{
				background-color: #ffb3b3;
			}

			h2{
				padding-bottom: 10px;
			}

			body {
				background-color: #f2f2f2;
			}				
		</style>

	</head>
	
	<body>
		<div class="container">
			<!-- <form action="step1.html" method="get" onsubmit="return validate();">		 -->
			<form action="{{ url_for('view_auth.post_mobile') }}" method="POST" onsubmit="return validate();">
				
				<br><br>

			  <div class="row">
				  <div class="col-md-6 offset-md-3">			  
					  <div class="form-group">						
						<h2>Please enter your mobile number:</h2>								
					  </div>
				  </div>
			  </div>


			  <div class="row">
				  <div class="col-md-6 offset-md-3">
					  <div class="form-group">					    
					    <input type="number" class="form-control" name="mobile" id="mobile" placeholder="Enter Mobile Number">
					  	<span class="error" name="mobileerror" id="mobileerror"></span>
					  </div>					  
				  </div>
			  </div>


			  <br>
			  <div class="row">
			  	<div class="col-sm-6 col-md-6 col-lg-6 offset-md-5">
				  	<div>
					 	<input type="submit" id="next" name="next" value="Submit" class="btn mulberry"></input> 
					</div>			  
				</div>
			  </div>			  
			  
			</form>
		</div> <!-- container end -->	

	</body>
	
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	
	<script type="text/javascript">
		$(document).ready(function(){
			
			// $("#next").click(function()
			
		});
		
		//  $("#next").click(function()
		//  {
			function validate()
				{
					valid = true;

					let val3 = $("#mobile").val();
					if (val3 == ''){
							$('#mobileerror').text("Please enter mobile number!");					
							valid = false;
						}
						else {
							if (val3.length > 10){
								$('#mobileerror').text("Please enter a valid username with minimum 10 characters!");
								valid = false;
							}										
						}


						return valid;

				}
			// });	

	</script>

</html>